input{
    border: 1px solid #ccc;
    border-radius: 5px;

}
/*login*/
.main_login{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main_login{
    background: #ffffff;
}
.btn-login{
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(21, 226, 79)
}
.btn-login:hover{
    cursor: pointer;
    background: #07ff18;
    color: rgb(255, 255, 255);
}

/*nav bar*/
.navBar{
    background: #4D44B5;
}
.btn-left-col{
    border-radius: 5rem 0 0 5rem;

}
.btn-left-col:hover{
    cursor: pointer;
    background: #ffffff;
    color: rgb(11, 14, 89);
}
/**/

/* menu bar in post*/

/**/

/**/

